{% extends 'base.html' %}

{% block content %}
    <div class="profile-container">
        <div class="profile-left">
            <img src="{{ user_author.profile_pic.url }}" alt="Profile Picture" width="200">
        </div>
        <div class="profile-right">
            <h2>{{ user_author.fullname }}</h2>
            <p>Username: {{ user_author.user.username }}</p>
            <p>Bio: {{ user_author.bio }}</p>
        </div>
    </div>

    <h3>Your Posts:</h3>
    {% for post in user_posts %}
        <p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
    {% endfor %}
{% endblock %}
